body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 40%;
  height: auto;
}

.left {
  float: left;
  margin: 10px 15px 10px 0;
}

.right {
  float: right;
  margin: 10px 0 10px 15px;
}
